*
{
    font-family: 'Times New Roman', Times, serif;
}

body,p
{
    margin: 0;
}

/* .container
{
    display: flex;
    flex-direction: column;
    justify-content:space-between;

} */

.nav-container
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left:5px ;
}
.nav-right
{
    display: flex;
    justify-content: space-between;

}
.nav-right a
{
    text-decoration: none;
    color: black;
    width: 100px;
    padding: 20px 0px;
    text-align: center;
    font-size: 18px
}


.nav-right a:hover
{
    background-color: lightgray;
}
.content-container
{
    display: flex;
    background-color: darkgray;
    color: white;
    align-items: center;
    justify-content: center;
    height: 400px;

}

.intro
{
    width: 400px;
}

.content-left
{
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 50px;
    
}
.content-right img
{
    border-radius: 10px;
}

.button
{
    text-decoration: none;
    color: black;
    border: 1px solid white;
    width: 150px;
    text-align: center;
    border-radius: 10px;
    padding: 10px 0px;
    background-color: white;
}

.button:hover
{
    color: white;
    background-color: gray;
}
